doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Message Board
    body 
        h1= title
        each message in messages
            div= message.text
            
